/*---------------------------GENERAL TAGS-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html {

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    position: relative;
    padding: 10px;
}

h1 {

    font-size: 36px;
    color: #1A202C
}

h1 {
    font-size: 36px;
}

li {
    list-style: none;

}

.words {
    font-size: 48px;
}

.more {
    font-size: 18px;
    color: #243E63;
    margin: 32px 0;
    line-height: 1.5;

}

.purple {
    color: #6415ff;
}

.morewords {
    font-size: 18px;
    color: #243E63;
    margin: 32px 0;
    line-height: 1.5;
}

.enhance {
    color: rgb(115, 89, 197);

}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main {
    padding: 32px;
    overflow-x: hidden;
}

.worda{
    display: flex;
    flex-direction: column;
}

/*---------------------------GENERAL TAGS-------------------------------------------*/




/*---------------------------NAV and BURGER AREA-------------------------------------------*/



.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
}

.logo-container {
    margin-left: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    font-size: 900;
    padding: 0 15px;
    margin: 0 5px;
    color: #243E63;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #6451ff;
    transition: width.5s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.link:hover::after {
    width: 100%;
}

.link:not(.button):hover {
    text-decoration: none;
}

/* Buttons */

.info__button2 {
    margin: 8px 8px 8px 0;
    cursor: pointer;
    border: none;
    font-weight: 700;
    background-color: #6415ff;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    padding: 12px 32px;
    /* Corrected padding */
    transition: transform 0.5s ease;
    /* Corrected transition */
}

.info__button2:hover {
    transform: scale(0.75);
    /* Ensures the button scales down on hover */
    background-color: rgb(65, 12, 172);
}

/*------------------------------------------------HAMBURGER MENU----------------------------------------------------*/

.menu-btn {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-btn:hover {
    transform: scale(0.95);
}



/* Backdrop for Menu */
.menu-backdrop {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    margin: 24px 16px;
    padding: 32px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8d9db;
    border-radius: 10px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu-backdrop {
    visibility: visible;
    opacity: 1;
}

/* Mobile Menu Links */
.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-links li {
    margin: 10px 0;
}

.menu-links li a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.menu-links li a.primary {
    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    border-radius: 50px;
}

.menu-links li a.primary:hover {
    background-color: rgb(65, 12, 172);
}

/* Adjusts hover effects specifically for primary links */
.link.primary {
    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    border-radius: 50px;
    font-weight: 550;
    transition: background-color 0.3s, color 0.3s;
}

.link.primary:hover {
    background-color: rgb(65, 12, 172);
}

/*---------------------------NAV AREA-------------------------------------------*/





/*---------------------------INTRO AREA-------------------------------------------*/
.intro {
    display: flex;
}

.secondrow {

    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.designergirl {
    width: 60%;
}

.girly {
    width: 100%;
    min-width: 0;
    max-width: 768px;
}


.customers {
    height: 50px;
    width: 100%;
    max-width: 600px;
}

.yourinput {
    max-width: 448px;
    position: relative;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.userinfo {
    padding: 22px 0 22px 32px;
    width: 100%;
    border: 2px solid rgb(176, 206, 244);
    font-weight: 500;
    color: #243e63;
    border-radius: 50px;
    font-size: 14px;
}

.info__button {
    cursor: pointer;
    border: none;
    padding: 16px 0;
    width: 160px;
    font-weight: 700;
    min-width: 130px;
    background-color: #6415ff;
    right: 0;
    border-radius: 50px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    position: absolute;
    color: #fff;
    transition: transform 0..5s ease;
}

.info__button:hover {
    transform: scale(.85);
    background-color: rgb(65, 12, 172);
}

.customers--wrapper {
    width: 100%;
    height: auto;
    margin: 80px 0 0;
}

.customers--title {
    font-weight: 700;
    color: #A0AEC0;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.customers--img {
    margin-top: 16px;
    padding-right: 64px;
    opacity: 0.5;
}


/*--------------------------INTRO AREA-------------------------------------------*/


/* ----------------------------------------SERVICES AREA ---------------------------------------------*/




.container {
    position: relative;
    padding: 96px 0;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.subtitle {
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
}

.paragraph {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 40px;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #7c8ba1;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: calc(100% / 3);
    display: flex;
}

.highlight {

    color: #6415ff;
}

.image {
    padding: 32px 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    border: 1px solid;
    border-color: rgb(226, 232, 240);
    flex-shrink: 0;
    border-radius: 500px;
    border-width: 1px;
    padding: 20px;
    text-align: center;
    width: 24px;
    height: 24px;
}


.service-details {
    margin-top: 8px;
    margin-left: 16px;
}

h2 {
    color: #243e63;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .4px;
}

p {
    color: #7c8ba1;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
}

.image img {
    width: 24px;
    height: 24px;
}









/* ----------------------------------------SERVICES AREA ---------------------------------------------*/

/* ------------------------------------------------ QUALITY---------------------------------------------------*/

.bigletters {

    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    letter-spacing: 1px;
}

.small__letters {

    width: 100%;
    font-size: 16px;
}

.information {
    margin-top: 80px;
    width: 50%;
    margin-right: 10px;
}

.fourthrow {
    display: flex;
    align-content: center;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.imagery {
    margin-top: 60px;
    height: 350px;
    max-width: 600px;
    border: 1px solid;
    margin-left: 70px;

}

.purple2 {
    font-family: 'inter';
    color: rgb(65, 12, 172);
    font-size: 16px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1.5px;
    margin-bottom: 16px;
    margin-top: 60px;
}

.highlight2 {

    font-size: 20px;
    color: #6415ff;
    margin-bottom: 15px;

}


/* ------------------------------------------------ QUALITY---------------------------------------------------*/



/* ----------------------------------------EASY TO START AREA ---------------------------------------------*/

/* Steps Section */
.easy {
    display: flex;
    padding: 96px 0;
}

.fifthrow {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.steps-img-wrapper {
    width: 50%;
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the image within the figure */
}

.steps-description {
    flex: 1;
    width: 50%;
    max-width: 576px;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps-title,
.steps-subtitle {
    text-align: left;
    letter-spacing: 1.5px;
}

.steps-title {
    font-size: 16px;
    margin-bottom: 16px;
}

.steps-subtitle {
    font-size: 20px;
    /* Adjusted for consistency */
    font-weight: 600;
    color: #243e63;
    margin-bottom: 16px;
}

.steps-list {
    display: flex;
    flex-direction: column;
}

.steps-item {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.steps-number {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
    margin-right: 24px;
    /* Space between number and description */
}

.steps-detail {
    margin-left: 24px;
    /* Adjust if more space is needed */
}

.steps-para {
    font-size: 14px;
    text-align: left;
    color: #718096;
    line-height: 28px;
}

/* ----------------------------------------PRINCIPLES AREA ---------------------------------------------*/

.values {
    max-width: 1200px;
}

.sixthrow {
    display: flex;
    margin-top: 300px;
}

.wireframe {
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.wireframe-visible {
    opacity: 1;
    transform: translateX(0);
}

.texta2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
}

.wireframe {

    display: flex;
    flex-direction: column;
    width: 50%;
}

.framewire {

    height: 700px;
    width: 100%;
    max-width: 1000px;
}

.moneyicon {

    height: 50px;
    width: 50px;

}

.double {
    display: flex;
}

/* ----------------------------------------PRINCIPLES AREA ---------------------------------------------*/